$brand-color: #7d59f2;
$brand-color-2: #e371f6;
$default-hero-image: "/images/hero/box-top.jpg";

// Breakpoints
$tablet: "(min-width: 450px)";
$above-tablet: "(min-width: 550px)";
$mid-point: "(min-width: 850px)";
$below-mid-point: "(max-width: 849px)";
$desktop: "(min-width: 768px)";
